<html>
    <head>
        <title>This is for Auth</title>
    </head>
    <body>
        <h1>This is the home page</h1>
        <nav>
            <ul>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">HomePage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login Using ....</h1>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
        </main>
    </body>
</html>